.menu_container{
	display: none;
}

.webui-popover{
	box-shadow: 0 1px 6px rgba(0,0,0,0.3);

	.webui-popover-inner .close{
		position: absolute;
		right: 0;
		z-index: 1;
		top: 5px;
	}
}

.pop-over {
	background: #fff;
	width: 300px;

	.header {
		height: 36px;
		position: relative;
		margin-bottom: 8px;
		background: #f7f7f7;
		border-bottom: 1px solid #dcdcdc;
		color: #666;

		.header-title {
			display: block;
			line-height: 32px;
			padding-top: 4px;
			margin: 0 10px;
			font-weight: bold;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.close-btn {
			padding: 10px 10px 10px 4px;
			position: absolute;
			top: 0;
			right: 0;
		}

		.back-btn {
			float: left;
			overflow: hidden;
			width: 30px;
			-webkit-transition: width 0.2s;
			transition: width 0.2s;

			i.fa {
				margin: 10px;
				margin-top: 12px;
			}
		}
	}

	.content-wrapper {
		width: 100%;
		overflow: hidden;
	}

	.content-container {
		width: 5000px;
		max-height: 550px;
		-webkit-transition: -webkit-transform 0.2s;
		transition: transform 0.2s;

		.content {
			width: 280px;
			padding: 0 10px 10px;
			float: left;
		}
	}

	.pop-over-list li>a {
		clear: both;
		cursor: pointer;
		display: block;
		font-weight: 700;
		padding: 1.5px 10px;
		position: relative;
		margin: 0 -10px;
		text-decoration: none;
		overflow: hidden;
		line-height: 33px;

		.sub-name {
			color: #8c8c8c;
			display: block;
			font-size: 12px;
			font-weight: 400;
			line-height: 15px;
		}
	}

	.pop-over-list li > .js-select-member {
		clear: both;
		cursor: pointer;
		display: block;
		font-weight: 700;
		padding: 1.5px 10px;
		position: relative;
		margin: 0 -10px;
		text-decoration: none;
		overflow: hidden;
		line-height: 33px;

		.member{
			margin-top: 6px;
		}
	}

	.pop-over-list li > .js-select-member:hover{
		color: #666;
		background: #dbdbdb;
	}

	.pop-over-list li>a:not(.disabled):hover {
		background-color: #005377;
		color: #fff;

		.sub-name {
			color: #fff;
		}

		.fa, .fa.colorful {
			color: #fff;	
		}
	}

	hr {
		margin: 4px -10px;
		width: 300px;
	}

	a.fa, a i.fa {
		color: #a6a6a6;
	}

	p, textarea, input[type="text"], input[type="email"], input[type="password"], input[type="file"] {
		margin: 4px 0 12px;
		width: 100%;
	}

	input[type="submit"].primary, button.primary {
		background: #005377;
		color: #fff;
	}

	input[type="submit"].primary:hover, button.primary:hover,
	input[type="submit"].primary:focus, button.primary:focus {
		background: #004766;
	}

	button.pure-button-primary{
		margin-top: 0;
	}

	.add-member-form ul.pop-over-list{
		margin-bottom: 10px;
	}

	.edit-label .card-label, .create-label .card-label {
		float: left;
		height: 25px;
		margin: 0px 3% 7px 0px;
		width: 10.5%;
		cursor: pointer;
	}

	.js-select-visibility .fa.fa-check{
		display: none;
	}

	.js-select-visibility.active .fa.fa-check{
		display: inline-block;
	}

	.js-pop-over-avatar, .js-pop-over-username, .rename-list, .options-list,
	.js-pop-over-board-rename, .js-pop-over-board-color, .js-pop-over-board-background,
	.js-pop-over-card-rename, .js-pop-over-card-attachment{
		display: none;
	}
}

.card_labels_settings, .card_settings{
	display: none;
}